.wrapper {
    border: 1px solid black;
    width: 1000px;
    height: 750px;
    display: grid;
    grid-template-rows: 1fr 5fr 2fr;
}

.box,
.footer,
.inside,
.part {
    border: 1px solid black;
}

.center {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.triple {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.under {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.out {
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin: 60px;
}

.line {
    display: grid;
    grid-template-columns: 1fr;
}
